{% extends 'base.html' %}
{% block title %}Tandem Trivia Trainer{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div>
  <div class ="row" id="logodiv">
    <img id="logo" src="/static/images/logo.png" 
          alt="Tandem Bike square logo" height="400px" width="400px" />
  </div>
    <h1 class="text-center" id="welcome">
      Ready to test your trivia prowess?
    </h1>
  <div class="row">
    <button class="btn btn-lg button" id="start">START</button>
  </div>
  <div class="text-center" id="questions"></div>
  <div id="closing">
    <div class="text-center" id="gameover"></div>
    <div class="text-center" id="author">
      This quiz was created by LaRena Rose Iocco using a tiny 
      Python and Flask back-end with a Javascript and jQuery front-end.
      <br>
      LaRena is a graduate of Hackbright Academy and a former circus clown.
    </div>
  </div>
</div>

{% endblock %}

{% block after_body %}
{% endblock %}